 <!-- ======= Inicio do Header ======= -->
    <div class="container d-flex align-items-center header">
      <h1 class="logo me-auto"><a href="/home">OneToMany</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" routerLink="/home">Home</a></li>
          <li><a class="nav-link scrollto" routerLink="/cargo">Cargo</a></li>
          <li><a class="nav-link scrollto" routerLink="/funcionarioComCargo">Funcionário</a></li>
          <li><a class="nav-link scrollto" routerLink="/supervisor/listaSupervisor">Supervisor</a></li>
          <li><a class="nav-link scrollto" routerLink="/supervisor/card-supervisor">Nossos Supervisores</a></li>
          <!-- <li><a class="nav-link scrollto" routerLink="/home">Contato</a></li> -->
          <li><a class="getstarted scrollto" routerLink="#">Login | Registro</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- navbar -->
    </div>
  <!-- fim do header -->
